


<% @user.user_goals.each do |user_goal| %>
    <h2><%= link_to user_goal.goal.name, user_goal_path(user_goal) %></h2>
<% end %>



<div class="container">
    <div class="bg-white">
    <h3><%= link_to "Add a New Goal", new_user_goal_path %></h3>
    <h3><%= link_to "Edit Profile", edit_user_path(@user) %></h3>
    <h3><%= link_to "Delete Profile", @user, method: :delete, data: {confirm: "Are you sure you want to delete your account?"}%></h3>
</div>
