<h3>Things that will be shown on the user's page when they are logged in</h3>
<h3>------------------------------------------------------</h3>
<h3>Link to User goals Edit/Delete</h3>
<h3><%= link_to "Add a New Goal", new_user_goal_path %></h3>
<h3><%= link_to "Edit Profile", edit_user_path(@user) %></h3>
<h3>Link to Delete Profile, with Link to sign up again</h3>
