<div class="container-flex">
    <header class="bg-primary pt-3 pb-3">
        <div class="container">
            <h2 class="text-center">LearnLoveCode</h2>
            <h4 class="text-center">Unity, Precision, Perfection</h4>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-6 bg-warning jumbotron">
            <div class="text-center">
                <h3><%= link_to "Log In" , login_path %></h3>
            </div>
        </div>

        <div class="col-lg-6 bg-danger jumbotron">
            <div class="text-center">
                <h3><%= link_to "New User" , new_user_path %></h3>
            </div>
        </div>
    </div>


</div>