/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'simplifica';
    src: url("assets/simplifica_typeface-webfont.woff") format('woff'),
         url("assets/simplifica_typeface-webfont.woff2") format('woff2'),
         url("assets/SIMPLIFICA.ttf") format('truetype');

    /* src: url(/fonts/simplifica_typeface-webfont.woff) format('woff'),
         url(/fonts/simplifica_typeface-webfont.woff2) format('woff2'),
         url(/fonts/SIMPLIFICA.ttf) format('truetypeface'); */
    font-weight: normal;
    font-style: normal;
}

  
 *{
     color:whitesmoke;
 }

 h1{
    font-family: simplifica;

 }

 textarea{
    color:black;
 }

a:hover{
    text-decoration: none;
}


 .full-width{
     min-width: 100vh;
     width: 100%;
 }

 .bg-san-marino{
     background: #4963a9; /* San marino blue */
 }

 .bg-mirage{
     background: #171d2c;
 }

 .title-color{
     color: #c8c322
 }

 .avatar-img{

     width: 50%;
     height: 50%;
     border-radius: 100vh;
 }

 .profile-link{
    background: #171d2c;
    border-radius: 0.25vh;
    transition: background 250ms , border-radius 250ms;
 }

 .profile-link:hover{
    background: #26314e;
    border-radius: 2vh;
    transition: background 150ms , border-radius 250ms;
 }


 .profile-pic{
     min-width: 50%;
     max-width: 100%;
 }

.update-feed-panel{
    border-radius: 1.5vh;
    background: #171d2c;
}
.black-text{
    color: black;
}


