<h2>To get the most out of your bootcamp, let's set some goals!</h2>
<%= render 'new_edit_form' %>
<h4>Goal: people working on the goal</h4>
<% @goals.each do |goal| %>
    <% if goal.post_count != 0%>
        <li><%= goal.name %>: <%= goal.post_count %></li>
    <% end %>
<% end %>